###############################################################
###############################################################
###############################################################
###############################################################
### https://discord.gg/4xnQFpHMgM ###
##  https://discord.gg/4xnQFpHMgM ##
### https://discord.gg/4xnQFpHMgM ###
##  https://discord.gg/4xnQFpHMgM ##
### https://discord.gg/4xnQFpHMgM ###
##  https://discord.gg/4xnQFpHMgM ##
### https://discord.gg/4xnQFpHMgM ###
##  https://discord.gg/4xnQFpHMgM ##
### https://discord.gg/4xnQFpHMgM ###
##  https://discord.gg/4xnQFpHMgM ##
### https://discord.gg/4xnQFpHMgM ###
##  https://discord.gg/4xnQFpHMgM ##
###############################################################
###############################################################
###############################################################
###############################################################
###############################################################




###############################################################
###     Copyright MAJOR © - Todos os direitos reservados    ###
##        BASE PROGRAMADA POR: Nomadd                        ##
###############################################################
#--=======================================================================--#
#--=[ CONEXÃO ]===========================================================--#
#--=======================================================================--#
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
#--=======================================================================--#
#set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=skips"
set mysql_connection_string "username=root;password=;database=skips;host=127.0.0.1;multipleStatements=true"
set mysql_debug false
set mysql_slow_query_warning 1000

#--=======================================================================--#
#--=[ RESOURCES ]=========================================================--#
#--=======================================================================--#
exec config/resources.cfg
#--=======================================================================--#
#--=[ CONFIGURAÇÕES GERAIS ]==============================================--#
#--=======================================================================--#
sv_hostname "☀️ ^8 Major V1.0 / discord.gg/4xnQFpHMgM 🌟"
# Defina o nome do projeto do seu servidor
sets sv_projectName " ^8 Major V1.0 / discord.gg/4xnQFpHMgM"
# Defina a descrição do projeto do seu servidor
sets sv_projectDesc "CIDADE EXCLUSIVA, 1000 ROUPAS e ANIMAÇÕES, FACS E ORGS LIVRES, discord.gg/4xnQFpHMgM"


#sv_master1 ""
sv_maxclients 7
sets Discord "Major V1.0 / https://discord.gg/4xnQFpHMgM"
sets Developed by "Nomadd, Guxtavo, Cabral"
sets locale "pt-BR"
sets tags "roleplay,rp,vrp,police,ems,cars,jobs,drugs,discord,lspd,brasil,gangs,onesync,policia,br,cda,bahamas,lgbtq+"

#--=[ CONFIGURAÇÕES VISUAIS ]=============================================--#
load_server_icon server.png # Logo do servidor na lista de servidores. ( Resolução: 96x96 .png )
sets banner_detail "" #Banner de detalhes na lista de servidores. ( Resolução: 1920x200 .png )
sets banner_connecting "" #Banner do menu em conecxão. ( Resolução: 1920x200 .png )
#--=[ CONFIG PORTA PRIVADA & SCRIPHOOK ]==================================--#
sv_scriptHookAllowed 0
sv_endpointprivacy true
#--=[ CONFIG PERMISSÃO GERAL SERVER ======================================--#
add_ace group.admin command allow
add_ace group.admin command.quit deny
#--=[ CONFIG PERMISSÃO SYNC SERVER========================================--#
add_ace group.sync "changeWeather" allow
add_ace group.sync "changeTime" allow
add_ace group.sync "freezeTime" allow
add_ace group.sync command.weather allow
add_ace group.sync command.time allow
add_ace group.sync command.freezetime allow
#--=[ CONFIGURAÇÕES ONESYNC ]=============================================--#
onesync_enabled true
onesync_distanceCullVehicles true
onesync_forceMigration true
set sv_enforceGameBuild 2372

#--=[ CHAVES ]============================================================--#
exec config/keys.cfg

###############################################################
###     Copyright MAJOR © - Todos os direitos reservados    ###
##          BASE PROGRAMADA POR: Nomadd                      ##
###############################################################